*.dynamodb
*node_modules
*__pycache__*
*.serverless
*.DS_Store
/client-web/#client
/client-web/dist
/client-web/tmp
/client-web/out-tsc
/client-web/bazel-out
/client-web/node_modules
/client-web/www
/client-web/plugins
/client-web/platforms
/client-web/dist-electron
/client-web/dist-packages
/client-web/electron.main.js
/client-web/.idea/*
/client-web/.idea/runConfigurations/
/client-web/.idea/codeStyleSettings.xml
/client-web/.project
/client-web/.classpath
/client-web/.c9/
/client-web/.launch
/client-web/.settings/
/client-web/xcuserdata/
/client-web/.sublime-workspace
/client-web/.vscode/*
/client-web/.vscode/settings.json
/client-web/.vscode/tasks.json
/client-web/.vscode/launch.json
/client-web/.vscode/extensions.json
/client-web/target
/client-web/log
/client-web/.sass-cache
/client-web/connect.lock
/client-web/coverage
/client-web/libpeerconnection.log
/client-web/npm-debug.log
/client-web/yarn-error.log
/client-web/testem.log
/client-web/typings
/client-web/reports
/client-web/src/translations/template.*
/client-web/src/environments/.env.*
/client-web/.DS_Store
/client-web/Thumbs.db