<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <img class="logo" height="40" src="assets/puerticas-logo-white.png" alt="angular logo" />
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" ios="log-out-outline" md="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> User Management</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshUserList($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-list-header> Registered Users </ion-list-header>

    <ion-item *ngFor="let user of usersList">
      <ion-avatar slot="start">
        <img *ngIf="!isLoading" src="data:image/png;base64,{{ user.data.image }}" />
        <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
      </ion-avatar>
      <ion-label>
        <h2>
          <b>{{ user.data.name }} {{ user.data.surname }}</b>
        </h2>
        <h3>DNI: {{ user.data.dni }}</h3>
        <h3>Phone: {{ user.data.phone }}</h3>
      </ion-label>
      <ion-button expand="block" (click)="openCreateUserModal(user)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button expand="block" (click)="deleteUser(user)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCreateUserModal(null)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
