<ion-card>
  <ion-item>
    <h6 color="primary">Worker access plot</h6>
    <ion-select
      style="width: 20%"
      slot="end"
      value="1h"
      interface="action-sheet"
      (ionChange)="filter($event.detail.value)"
    >
      >

      <ion-select-option value="1h">1 hour</ion-select-option>
      <ion-select-option value="3h">3 hours</ion-select-option>
      <ion-select-option value="12h">12 hours</ion-select-option>
      <ion-select-option value="1d">1 day</ion-select-option>
      <ion-select-option value="3d">3 days</ion-select-option>
      <ion-select-option value="1w">1 week</ion-select-option>
    </ion-select>
  </ion-item>

  <div id="container"></div>
</ion-card>
