<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <img class="logo" height="40" src="assets/puerticas-logo-white.png" alt="angular logo" />
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" ios="log-out-outline" md="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-plot [accessList]="accessList"></app-plot>

  <div class="ion-padding">
    <ion-item class="box">
      <ion-input
        type="text"
        clearInput="true"
        inputmode="search"
        placeholder="Search by name"
        (keyup)="updateFilter($event.target.value)"
      ></ion-input>
    </ion-item>

    <!-- Theme classes dark, material, bootstrap -->
    <ngx-datatable
      class="material"
      [limit]="10"
      [rows]="accessList"
      [rowHeight]="50"
      [resizeable]="true"
      [columns]="columns"
      [columnMode]="'force'"
      [sortType]="'multi'"
      [headerHeight]="50"
      [footerHeight]="50"
    >
    </ngx-datatable>
  </div>
</ion-content>
